.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 1;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 600%;
    height: 600%;
    box-sizing: border-box;
    margin-left: -210%;
    margin-top: -210%;
    border-radius: 50%;
    background-color: #01a4e930;
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    z-index: 1;
  }
}

@keyframes pulse-ring {
  0% {
    z-index: 1;
    transform: scale(0.33);
  }
  80%,
  100% {
    z-index: 1;
    opacity: 0;
  }
}

@media (min-width: 1025px) {
  .location-card {
    position: relative;
    left: 40%;
    width: 60vw !important;
  }
}
